<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Masonry Responsive Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}" />

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}" > </script>
        <script src="{{ url_for('static', filename='js/min/main.min.js') }}" > </script>
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}" > </script>
        <script src="{{ url_for('static', filename='js/min/plugins.min.js') }}" > </script>
        <script src="{{ url_for('static', filename='js/min/main.min.js') }}" > </script>
    </head>


    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>

        <div class="content-bg"></div>
        <div class="bg-overlay"></div>

        <!-- SITE TOP -->
        <div class="site-top">
            <div class="site-header clearfix">
                <div class="container">
                    <a href="#" class="site-brand pull-left"><strong>Picture Share</strong> </a>
                    <div class="social-icons pull-right">
                         <li><a href='/upload'>Upload a photo</a> </li>
                         <li><a href='/logout'>Logout</a></li>
                        <li><a href='/'>Home</a></li></H1>
                    </div>
                </div>
            </div> <!-- .site-header -->
            <div class="site-banner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <h2>Check out your Friends Photo</h2>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Search Bar-->
                        <form method="post" action="{{ url_for('search_photo') }}">
                            <fieldset class="col-md-offset-4 col-md-3 col-sm-8">
                                <input style="color:black" type="text" id="subscribe-email" name="search_input" placeholder="search photo...">
                            </fieldset>
                            <fieldset class="col-md-5 col-sm-4">
                                <input type="submit" id="subscribe-submit" class="button white" value="Search">
                            </fieldset>
                        </form>
                        <!-- Search Bar-->
                    </div>
                </div>
            </div> <!-- .site-banner -->
        </div> <!-- .site-top -->
        
        <!-- MAIN POSTS -->
        <div class="main-posts">
            <div class="container">
                <div class="row">
                    <div class="blog-masonry masonry-true">
                        {% if photos %}
                        {% for photo in photos %}
                        <div class="post-masonry col-md-4 col-sm-6">
                            <div class="post-thumb">
                              <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width="300"height="300"/>
                                <div class="title-over">
                                    <h4><a href="#">{{photo[2]}}</a></h4>
                                </div>
                            </div>
                            <form method="post" action="{{ url_for('comment_photo_friend') }}">
                                <input type="hidden" name="photo_id" value="{{photo[1]}}"/>
                                <label>Comment: <input style="color:black" type="text" name="comment"></label>
                                <button style="color:black" type="submit">comment</button>
                           </form>
                            <form method="post" action="{{ url_for('like_photo_friend') }}">
                                            {{photo[3]}}
                                            <input type="hidden" name="photo_id" value="{{photo[1]}}"/>
                                            <button style="color:black" type="submit">Like</button>
                            </form>
                            {%if photo[4]%}
                            {%for list in photo[4]%}
                            <h5>{{list[1]}} : {{list[0]}}</h5>
                            {%endfor%}
                            {%endif%}
                        </div> <!-- /.post-masonry -->
                    {% endfor %}
                    {%endif%}
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="social-icons">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="copyright-text">Copyright &copy; 2084 Company Name
                        | Photos by <a rel="nofollow" href="http://unsplash.com">Unsplash</a></p>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('#loader').fadeOut(); // will first fade out the loading animation
                    $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>
	<!-- templatemo 434 masonry -->
    </body>
</html>