<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>

<form role="form" method='POST' action="{{ url_for('search_users') }}">
        <div class="form-group">
          <input type="search" name="search" placeholder="Enter Username..." style="max-width: 300px;" autofocus required>
        </div>
        <button type="submit" class="btn btn-default">Search your Friends with Email!</button>
</form>

{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}
{% if score%}
 <h3>your score is {{ score }}!</h3>
{%endif%}


{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
<div style="max-width: 400px" >
    <li>{{photo[2]}}<br>
      <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width="400"/></li>

        <form method="post" action="{{ url_for('comment_photo') }}">
            <input type="hidden" name="photo_id" value="{{photo[1]}}"/>
            <label>Comment: <input type="text" name="comment"></label>
            <button type="submit">comment</button>
        </form>

        <form method="post" action="{{ url_for('like_photo') }}">
            {{photo[3]}}
            <input type="hidden" name="photo_id" value="{{photo[1]}}"/>
            <button type="submit">Like</button>
        </form>

    {%if photo[4]%}

    {%for list in photo[4]%}
    <h5>{{list[1]}} : {{list[0]}}</h5>
    {%endfor%}

    {%endif%}
</div>
    {% endfor %}
    </ul>
{% endif %}



<ul>
    <li><a href="/CreateAlbum">album</a></li>
    <li><a href='/Feed'>Go check out photos</a> </li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/friendList'>See who you are following! / Friend Recommandation</a></li>
    <li><a href='/'>Home</a></li>
</ul>


{% if parameter %}
<h1>There is something here</h1>
{% endif%}


