<!doctype html>

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
<div style="max-width: 400px" >
    <li>{{photo[2]}}<br>
      <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' width="300"height="300"/></li>

        <form method="post" action="{{ url_for('comment_photo') }}">
            <input type="hidden" name="photo_id" value="{{photo[1]}}"/>
            <label>Comment: <input type="text" name="comment"></label>
            <button type="submit">comment</button>
        </form>

        <form method="post" action="{{ url_for('like_photo') }}">
            {{photo[3]}}
            <input type="hidden" name="photo_id" value="{{photo[1]}}"/>
            <button type="submit">Like</button>
        </form>

    {%if photo[4]%}

    {%for list in photo[4]%}
    <h5>{{list[1]}} : {{list[0]}}</h5>
    {%endfor%}

    {%endif%}
</div>
    {% endfor %}
    </ul>
{%endif%}
